$yellow: yellow;
$amber: #ffefd5;
$orange: orange;
$vermillion: #e34234;
$red: red;
$magenta: magenta;
$purple: purple;
$violet: violet;
$blue: blue;
$teal: teal;
$green: green;
$chartreuse: chartreuse;

$bgColor: #224;
$darkGray: #123;
$lightGray: #abc;
$brightGray: #def;

.yellow { color: $yellow; }
.amber { color: $amber; }
.orange { color: $orange; }
.vermillion { color: $vermillion; }
.red { color: $red; }
.magenta { color: $magenta; }
.purple { color: $purple; }
.violet { color: $violet; }
.blue { color: $blue; }
.teal { color: $teal; }
.green { color: $green; }
.chartreuse { color: $chartreuse; }
