.userview {
  color: $brightGray;

  &-title {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
  }

  &-friends-title {
    margin: 24px;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
  }

  text-align: center;

  .friend-list {
    display: inline-block;
    min-width: 320px;
    &-item {
      text-align: left;
      margin: 4px;
    }
    &-friend {
      color: $brightGray;
      font-size: 28px;
    }
  }
}
