<div class="page">
  <header class="header">
    <h1 class="header-title">{{#link-to "users" class=(colors (rando 0 12))}}
        Rainbow Connection
      {{/link-to}}</h1>
  </header>

  <div class="content">
    {{outlet}}
  </div>
  <footer class="footer">
    <div class="footer-text">Devin Dominguez 2016</div>
  </footer>
</div>
