<div class="userview">
  <h1 class="userview-title">{{model.firstName}} {{model.lastName}}</h1>
  {{#color-picker user=model}}{{/color-picker}}
  {{#if model.friends}}
    <h2 class="userview-friends-title">and has some friends:</h2>
    {{#friend-list friends=model.friends unfriendable=true user=model}}{{/friend-list}}
  {{else}}
    <h2 class="userview-friends-title">and has no friends :(</h2>
  {{/if}}

</div>
{{outlet}}
